.App {
  text-align: center;
  
}

.formdiv{
  background-color: black;
  width: 50vh;
position: relative;
left: 50vh;
border: 1px solid green;
color: white;
top: 2vh;
}
.formadd{
  background-color: black;
  width: 50vh;
position: relative;
left: 50vh;
border: 5px solid green;
top: 10vh;
color: white;
margin: 10px;
}